body {
position: relative;
margin-top: 100px;
padding-top: 25px;
color: white;
background-image: url("https://c1.staticflickr.com/3/2900/33230796166_912d01c6a3_b.jpg");
background-repeat:no-repeat;
-webkit-background-size: 100%;
-moz-background-size: 100%;
-o-background-size: 100%;
background-size: 100%;
font-weight: bold;
}

.container-fluid{
text-transform: uppercase;
font-family: 'Open Sans', sans-serif;
font-weight: bold;
  }

.navbar-inverse{
  font-family: 'Montserrat', sans-serif;
}

.navbar-inverse .navbar-brand:focus, .navbar-inverse .navbar-brand:hover{
  color:#3B81BF;
}

.navbar-inverse .navbar-nav>li>a {
  color: #3B81BF;
}

.dropdown{
text-transform:uppercase;
color: #3B81BF;
}

.dropdown-menu>li>a{
text-transform:uppercase;
color: #3B81BF;
  }

.Twtbtn{
margin: 5px;

  padding: 3px;

border-color: black;

border-radius: 7px;

background-color: black;
  }

.btn-navbar{
color: black;

  background-color: #f0641f;
  }

h1{
text-align: center;

  font-family:'Open Sans', sans-serif;

font-weight: bold;
  }

.fa-free-code-camp {
  color: #01ff04;
}
/* Lets do this and try a wrapper widget */
.weatherInfo {
  display: block;

margin: 0 auto;

text-transform: uppercase;

opacity: 0.6;

border-radius: 25px;

background-color: #313e45;

filter: alpha(opacity=60); /* For IE8 and earlier */
  }
